:root,body,html {
  --main-bg-color: brown;
  --w-full: 100%;
  --w-screen: 100vh;
  --h-full: 100%;
  --h-screen: 100vh;
  --fs-semibold: 600;
  --fs-bold: 700;
  --fs-extrabold: 800;
  list-style: none;
  margin: 0;
  padding: 0;
  /* color-scheme: dark; */
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: inherit;
}
/* sm */
@media (min-width: 640px) {

}
/* md */
@media (min-width: 768px) { 

}
/* lg */
@media (min-width: 1024px) { 

 }
 /* xl */
@media (min-width: 1280px) { 

 }
 /* 2xl */
@media (min-width: 1536px) { 

}

.btn{
  padding: .5rem 1rem .5rem 1rem;
}